protobuf==4.25.3
optimum==1.7.3
onnxruntime==1.16.1
onnx==1.16.1
datasets==2.11.0
weaviate-client==4.6.3 
streamlit==1.35.0 
pandas==2.2.2
plotly==5.22.0
streamlit-aggrid==1.0.5
git+https://github.com/mpgreg/funda-scraper.git@main